// -----------------------------------------------------------------------------
// This file contains all @font-face declarations, if any.
// -----------------------------------------------------------------------------

@font-face {
  font-family: 'Gilroy';
  src: font('gilroy-extrabold-webfont.eot');
  src: font('gilroy-extrabold-webfont.eot?#iefix') format('embedded-opentype'),
  font('gilroy-extrabold-webfont.woff2') format('woff2'),
  font('gilroy-extrabold-webfont.woff') format('woff'),
  font('gilroy-extrabold-webfont.ttf') format('truetype'),
  font('gilroy-extrabold-webfont.svg#gilroyextrabold') format('svg');
  font-weight: 900;
  font-style: normal;
}