.home-slide {
  &__title {
    font-size: 6.8rem;
    line-height: 1.2;
    text-align: right;
    margin: -30px 0 0;

    &--large {
      margin-top: 280px;
      text-align: center;
      font-size: 12.5rem;
      line-height: 1.2;
      background: linear-gradient(90deg, #2aa3ff, #1dfffa);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  &__subtitle {
    font: normal 300 3.5rem/1.2 $f-open-sans;
    margin-top: 80px;
    text-align: center;
    margin-bottom: 0;
  }
}

.authors {
  display: flex;
  width: 850px;
  max-width: 100%;
  justify-content: space-between;
}

.author {
  display: flex;

  &__name {
    line-height: 1.2;
    font-size: 2.5rem;
    text-align: right;
    margin: 0;
  }

  &__logo {
    height: auto;
    width: 138px;
    max-width: 100%;
    margin-left: 13px;
  }
}

.background-phone {
  position: absolute;
  z-index: -1;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -63%, 0);

  g {
    opacity: 0.25;
  }

  path,
  ellipse {
    fill: none;
    stroke: #FFFFFF;
    stroke-miterlimit: 10;
  }

  &__path {
    stroke-dasharray: 2000;
    stroke-dashoffset: 2000;
  }

  &__button {
    stroke-dasharray: 170;
    stroke-dashoffset: 170;
  }

  &.is-drawn {
    .background-phone {
      &__button,
      &__path {
        animation: dash 1s linear forwards;
      }
    }
  }
}

.home-scroll {
  margin: 0 0 0 -15px;
  position: absolute;
  bottom: 30px;
  left: 50%;
  width: 30px;
  height: 48px;
  cursor: pointer;

  .mouse {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid $c-white;
    border-radius: 15px;

    &__wheel {
      display: block;
      margin: 0 0 0 -2px;
      position: absolute;
      top: 10px;
      left: 50%;
      width: 4px;
      height: 4px;
      background: $c-white;
      border-radius: 50%;
      animation: scroll-wheel 1.8s linear 0s infinite normal none;
    }
  }
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes scroll-wheel {
  0% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }

  35% {
    transform: translate3d(0, 7px, 0);
    opacity: 1;
  }
  50% {
    transform: translate3d(0, 10px, 0);
    opacity: 0;
  }
  50.001% {
    transform: translate3d(0, 0, 0);
    opacity: 0;
  }
  80% {
    transform: translate3d(0, 0, 0);
    opacity: 0;
  }
}