.slides {
  position: relative;
  height: 100vh;
  background-color: $c-grey-anthracite;
}

.slide {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 100px 0;
  background-color: $c-grey-anthracite;
  opacity: 0;
  //z-index: 0;

  &__wrapper {
    @extend .container;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;

    & > * {
      &.authors {
        margin-top: auto;
      }
    }

    &.is-full-height {
      height: 100%;
    }
  }

  &--home {
    padding: 0;
    .slide {
      &__wrapper {
        justify-content: center;
        position: relative;
        z-index: 1;
      }
    }
  }

  &--accessibility {
    .slide {
      &__chart-wrapper {
        width: 100%;
        height: 570px;
      }
    }

    .slide-header {
      &__subtitle {
        margin-bottom: 20px;
        text-align: left;
        padding-left: 10px;
      }
    }
  }

  &--user {
    .slide {
      &__chart-wrapper {
        width: 100%;
        height: 570px;
      }
    }
    .slide-header {
      &__subtitle {
        margin-bottom: 20px;
        text-align: left;
        padding-left: 10px;
      }
    }
  }
}

.slide-header {

  &__header {
    margin: 0 auto;
    background-color: $c-white;
    width: 130px;
    height: 130px;
    max-width: 100%;
    border-radius: 50%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
  }

  &__header-inner {
    margin: 5px 0 0;
    position: absolute;
    font-size: 2rem;
    line-height: 1.2;
    color: $c-grey-anthracite;
    text-align: center;
  }

  &__title {
    width: 950px;
    max-width: 100%;
    text-align: center;
    margin: 10px 0 60px;
    font: normal 300 3rem/1.2 $f-open-sans;

    .large {
      font-size: 5rem;
    }
  }

  &__subtitle {
    width: 950px;
    max-width: 100%;
    text-align: center;
    margin: 0 0 50px;
    font: normal 900 1.8rem/1.2 $f-gilroy;

  }
}

.graph {
  width: 100%;
}
