.viz-age {
  position: relative;

  &__wrapper {
    margin-left: auto;
    margin-right: auto;
    max-width: 850px;
  }

  &__header {
    margin-top: 45px;
  }
}

.viz-age-nav {
  max-width: 600px;
  margin: 0 auto;

  &__list {
    @extend .list-no-style;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
  }

  &__item {

    a {
      position: relative;
      padding: 10px 20px;
      display: block;
      text-decoration: none;
      color: $c-white;
      border: 1px solid transparent;
      transition: border-color 0.15s $t-easeOutQuad;

      &.is-active {
        border-color: $c-white;
      }

      @include on-event {
        border-color: $c-white;
      }
    }
  }
}

.viz-age-cols {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  border-bottom: 1px solid $c-white;
}

.viz-age-col {
  height: 490px;
  padding: 0 20px 0;
  flex-basis: 20%;
  display: flex;
  flex-flow: column nowrap;

  &__content {
    height: 100%;
    padding: 20px 20px 0;
    display: flex;

    .inner {
      width: 100%;
    }
  }

  &__legend {
    position: relative;
    padding-top: 30px;
    font: normal 900 2.5rem/1.2 $f-gilroy;
    text-align: center;
    margin: 0;

    &:before {
      @include pseudo;
      top: 0;
      left: 50%;
      transform: translate3d(-50%, 0, 0);
      width: 14px;
      height: 14px;
      border-radius: 50%;
      transition: transform 0.15s $t-easeOutQuad;
    }

    @include on-event {
      &:before {
        transform: translate3d(-50%, 0, 0) scale(1.2);
      }
    }
  }

  &:nth-child(1) {
    .viz-age-col__legend:before {
      background-color: $c-brand-1;
    }
  }

  &:nth-child(2) {
    .viz-age-col__legend:before {
      background-color: $c-brand-2;
    }
  }
  &:nth-child(3) {
    .viz-age-col__legend:before {
      background-color: $c-brand-3;
    }
  }
  &:nth-child(4) {
    .viz-age-col__legend:before {
      background-color: $c-brand-4;
    }
  }
  &:nth-child(5) {
    .viz-age-col__legend:before {
      background-color: $c-brand-5;
    }
  }
  &:nth-child(6) {
    .viz-age-col__legend:before {
      background-color: $c-brand-6;
    }
  }
}

.viz-age-persons {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

.viz-age-person {
  left: 0;
  top: 0;
  position: absolute;
  width: 10px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: contain;

  &.is-0 {
    background-image: image("person-1.svg");
  }

  &.is-1 {
    background-image: image("person-2.svg");
  }

  &.is-2 {
    background-image: image("person-3.svg");
  }

  &.is-3 {
    background-image: image("person-4.svg");
  }

  &.is-4 {
    background-image: image("person-5.svg");
  }

  &.is-5 {
    background-image: image("person-6.svg");
  }
}