// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------





/// Regular font family
$f-arial: 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;
$f-gilroy: 'Gilroy', $f-arial;
$f-open-sans: 'Open Sans', $f-arial;

/// Colors
$c-white: #fff;
$c-grey-anthracite: #201e1d;
$c-brand-1: #ffc906;
$c-brand-2: #ccd238;
$c-brand-3: #99db6a;
$c-brand-4: #66e49b;
$c-brand-5: #33edcd;
$c-brand-6: #00f6ff;

/// Transitions

$t-easeOutQuad: cubic-bezier(0.25, 0.46, 0.45, 0.94);









/// Container's maximum width
/// @type Length
$max-width: 1080px !default;





/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
$breakpoints: (
  'small': 320px,
  'medium': 768px,
  'large': 1024px,
) !default;






/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'http://cdn.example.com/assets/';
$base-url: '../' !default;
